/*-- Body --*/
html, body {
    background-color: #fff;
    font-size:16px;
    color: #444444;
    margin: 0;
}
body{
    background-attachment:fixed;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:lighten;
}
div.wrapper{
    padding-right: 335px;
    padding-left: 5%;
    transition: padding-right 500ms;
}
div.wrapper_extend{
    padding-right: 5%;
}
/*Titles*/
h1 {
    font-size: 2.5em;
    line-height: 1.2em;
    margin-top: 0;
    padding-top: 1em;
    margin-bottom: 0.2em;
    font-weight: bold;
    text-align: center;
    color: #111111;
}
h2 {
    font-size: 1.4em;
    line-height: 1em;
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-weight: bold;
    text-align: center;
    color: #111111;
}
h3 {
    font-size: 1.4em;
    color: #111111;
}
h4 {
    font-size: 1.1em;
    color: #111111;
    /* padding-left: 8px;
    padding-top: 10px;
    margin-bottom: 3px; */
}
h5 {
    font-size: 0.9em;
    font-weight: bold;
}
/*Index*/
.index{
    float: none;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: -1px;
    padding-top: 1em;
    padding-right: 10px;
    margin: 0;
    border-right: none;
    font-size: 0.9em;
    height: 100% !important;
    background-color: rgba(241, 241, 241, 0.6);
    box-shadow: 1px 2px 4px #333;
    width: 300px;
    transition: width 500ms, height 500ms, padding-top 500ms;
}
.index_hidden{
    padding-top: 0em;
    width: 200px !important;
    height: 80px !important;
    padding-right: 0px;
}
.index h2 {
    text-align: center;
    transition: margin-top 500ms;
}
.toc_hidden{
    display: none;
}
.index_button{
    text-decoration: none;
    font-size: 0.7em;
    float: right;
    transition: color 300ms;
}
.index_button:hover{
    color: dodgerblue;
}
.toc a {
    text-decoration: none;
    color: rgb(0, 173, 230);
    transition: text-shadow 300ms, font-size 300ms, font-weight 300ms;
    font-weight: bold;
}
.toc a:hover {
    text-shadow: 1px 1px 1px rgba(17, 17, 154, 0.7);
    font-weight: bolder;
    font-size: 1.4em;
}
.toc li{
    margin: 4px 0px;
}
li::marker{
    content: none;
}
.prenext{
    position: fixed;
    bottom: 20px;
}
/*正文*/
.indent p {
    text-indent: 2em;
}
/*-- Special Function --*/

div .command_screen{
    margin: 0 0 0 2em;
    padding: 0.1em 0em 0.2em 0em;
}
.command_screen summary{
    font-weight: bold;
    margin:0.7em;
}
.command_screen p{
    color: #0DD424;
    font-weight: bold;
    margin:0.7em;
}

/*图片配文字格式*/
.box_1img {
    max-width: 400px;
    margin: 2px 0px 0px 6em;
}
.box_2img {
    max-width: 600px;
    margin: 2px 0px 0px 6em;
}
.box-img p {
    text-indent: 0;
    text-align: center;
}
.box-2img {
    text-align: center;
}
.box-text {
    color: rgb(164, 164, 164);
    text-align: center;
    text-indent: 0 !important;
}
.box-img img, .box-2img img{
    max-width: 100%;
}
.box-2img p{
    display: inline;
    text-align: center;
}

/*Chat CSS*/
div.conversation{
    background-color: rgba(245,245,245,0.83);
    padding-top: 0.5em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    margin: 10px 0px;
}
div.conversation > hr{
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    overflow: hidden;
    border-style: solid;
    border-width: 2px;
    border-color: #E7E7E7;
}
div.conversation h4{
    margin: 0 !important;
}
p.time{
    font-size: 0.9em;
    border-style: none;
    border-width: 4px;
    background-color: rgba(235,235,235,0.93);
    color: #606060;
    text-align: center;
    margin: 0 42%;
    text-indent: 0em!important;
    clear: both;
}
.chat_others_WeChat{
    border-color: #EDEDED #EDEDED #EDEDED #CECECE;
    background-color:white;
}
.chat_myself_WeChat{
    border-color: #EDEDED #5EC01B #EDEDED #EDEDED;
    background-color: #9EEA6A;
}
.chat_myself_WeChat_2{
    border-color: #EDEDED #CECECE #EDEDED #EDEDED;
    background-color: white;
}
.chat_others_QQ{
    border-color: #EDEDED #EDEDED #EDEDED #C2C2C2;
    background-color: #E5E5E5;
    color: black;
}
.chat_myself_QQ{
    border-color: #EDEDED #09A1DA #EDEDED #EDEDED;
    color: white;
    background-color: #12B7F5;
}
.chat_myself_QQ_2{
    border-color: #EDEDED #C2C2C2 #EDEDED #EDEDED;
    color:black;
    background-color: #E5E5E5;
}

div.con_container_l, div.con_container_r{
	display: flex;
    padding: 5px 3px;
	max-width: 600px;
    clear: both;
}
div.con_container_l{
	float: left;
}
div.con_container_r{
    float: right;
}

.con_name_l, .con_name_r{
    padding-top: 10px;
	text-indent: 0 !important;
}
.con_name_l{
    padding-right: 5px;
}
.con_name_r{
	padding-left: 5px;
    text-align: right;
}

.con_content_l, .con_content_r{
	flex-grow: 9.5;
	border-style: solid;
	border-radius: 4px;
	text-indent: 0 !important;
    padding: 0.4em 0.6em;
}
.con_content_l{
    border-width: 1px 1px 1px 4px;
}
.con_content_r{
	border-width: 1px 4px 1px 1px;
}

.con_container_l p,.con_container_r p {
	text-indent: 0 !important;
    margin: 0;
}

.clear{
    clear: both;
}

chat{
    display: none;
}

/*Inner chat*/
div.innerconversation{
    background-color: rgba(245, 245, 245, 0.897);;
}

/*CSS of New Tags */
/*CSS of <hidding> tags*/
hidding{
    text-shadow: none;
    color: #252525;
    background-color: #252525;
    transition: color 0.13s;
    padding-right: 2px;
    padding-left: 2px;
    margin-left: 2px;
    margin-right: 2px;
}
hidding > ruby > rt{
    text-shadow: none;
    color: #252525;
    background-color: #252525;
    transition: color 0.13s;
    padding: 0px;
}
hidding > ruby > rt:hover{
    color: #F9F9F9;
}
hidding > a{
    color: #252525;
}
hidding:hover{
    color: #F9F9F9;
}
hidding > a:hover{
    color: #52C5FF;
}

/*CSS of <note> tags*/
note{
    font-style: italic;
    color: rgba(139,169,214,0.85);
}

/*Serveral Colors*/
.colorc1 {
    color: #68718e;
}
.colorc2 {
    color: #f8b662;
}
.colorco {
    color: #d0ebf1;
}
.colorbrightred{
	color: #CD3A3C;
	text-shadow: 1px 1px 2px #9A282A;
}